/* FOR INDEX PAGE TOP-BOTTOM  ***FOR ALL PAGES UNIFORMITY****/
:root {
  --black: #0e0e0e;
  --dark-blue: #3A81FF;
  --light-blue: #9BEAFF;
  --dark-red: #DA1F00;
  --dark-green: #3C8C05;
  --dark-yellow: #FDC71B;
  --light-yellow: #FEF669;
  --dark-chrome: #AEC1CB;
  --light-chrome: #E8ECEF;
  --white: #f5f2f2;
  font-size: 16px;
}

body {
  background:linear-gradient(60deg,var(--dark-red),var(--dark-yellow),var(--dark-green),var(--dark-blue),var(--dark-blue));
  outline:2px solid var(--black);
}

header {
  margin: -20px;
  color: white;
  width: 100%;
  padding: 30px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #e6fb04, #ff6600, #00ff66, #0077ff, #3C8C05, #3ac1ff, #099fff);
}

.marquee {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.marquee div {
  padding: 15px;
  font-size: 4rem;
  font-family:"Rye", serif;
  font-weight: 400px;
  animation: animate 10s linear infinite;
  padding-left: 100%;
  display: inline-block;
  letter-spacing: 0.08em;
  text-shadow: 10px 5px 10px #132022;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}
  /***************** FOR ALL PAGES UNIFORMITY TOP NAV MENU*******************/
  
  #sidebarContainer {
    margin:2vh 0 2vh 0;
  }
  
  #sidebarContainer nav ul {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    font-family:"Rye", serif;
  
  }
  #sidebarContainer nav ul li:hover {
    cursor: pointer;
    color: indigo;
  }
  #sidebarContainer nav ul a {
    text-decoration:none;
    color: white;
    font-size: 1.5em;
    font-weight: 250px;
    padding: 20px;
    letter-spacing: 0.08em;
    text-shadow: 10px 5px 10px #202124;
  }
  
  #sidebarContainer nav ul li:hover {
    cursor: pointer;
  }
/* main */
main {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items:center;
  width:100%;
  height:800px;
}

.performanceTitle {
  text-align:center;
  color:var(--white);
  font-size:3em;
  font-family:"Rye", serif;
  font-weight: 400px;
  letter-spacing: 0.05em;
  text-shadow: 10px 5px 10px #132022;
}

#performanceTable {
  outline:2px solid var(--black);
  background-color:var(--white);
  text-align:center;
  color:var(--black);
  font-size:2em;
}

#performanceTable tr {
  height:20px;
  outline:2px solid var(--black);
  background-color: #af95f7;
  
}

#performanceTable td {
  outline:2px solid var(--black);
  vertical-align:middle;
  line-height: 7vh;
  background-color: #92f3d6;
}

#performanceTable th {
  outline:2px solid var(--black);
  vertical-align:middle;
  line-height: 7vh;
  background-color: #80dbf5;
}

