body {
 margin: 0;
 padding: 0;
 background-color: rgb(0, 98, 211);
}
header {
  opacity: 85%; 
  color: white;
  width: 100%;
  padding: 12px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #0077ff, #ff0099, #630dd0, #ff3300, #099fff);
}
.flex-strip {
  width: 98%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.circle-grey {
background-color: #ffd900;
height: 22px;
width: 22px;
border-radius: 50%;
margin-top: -10px;
animation: lights 2s infinite;
}

.circle-gold {
  background-color: yellow;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-top: -10px;
  animation: lights 1s infinite;

  }
  @keyframes lights {
    0% {
      left: 15px; opacity: 100%;
    }
    25% {
      left: 30px; opacity: 0%;
    }
    50% {
      left: 60px; opacity: 100%;
    }
    75% {
      left: 120px; opacity: 0%;
    }
    100% {
      left: 150px; opacity: 100%;
    }
  }

.marquee {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.marquee div {
  padding: 30px;
  font-size: 6rem;
  font-family:"Rye", serif;
  font-weight: 400px;
  animation: animate 20s linear infinite;
  padding-left: 100%;
  display: inline-block;
  letter-spacing: 0.08em;
  text-shadow: 10px 5px 10px #132022;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

