:root {
  --black: #302b2b;
  --light-black: hsl(30, 2%, 20%);
  --gray: #5B798C;
  --light-gray: #8BA8B3;
  --dark-blue: #3A81FF;
  --light-blue: #9BEAFF;
  --dark-red: #DA1F00;
  --light-red: rgb(216, 54, 54);
  --dark-green: #3C8C05;
  --dark-yellow: #FDC71B;
  --light-yellow: #FEF669;
  --dark-chrome: #AEC1CB;
  --light-chrome: #E8ECEF;
  --white: #f5f2f2;
  font-size: 16px;
}

body {
  box-sizing:border-box;
  height:100vh;
  background-image:repeating-conic-gradient(var(--light-blue) 0 9deg, var(--dark-blue) 9deg 18deg);
}

/* star background */
#starBackground {
  position:absolute;
  top:50%;
  left:50%;
  z-index:-5;
  width:0px;
  height:0px;
}

/* make the star shape */
.stars {
  margin: 50px 0;
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.stars:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.stars:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

/* make the star size */
.smallStar {
  transform:scale(0.3) rotate(-15deg);
}
.mediumStar {
  transform:scale(0.6) rotate(45deg);
}
.largeStar {
  transform:scale(0.9) rotate(20deg);
}

/* make the star color */
.greenStar {
  border-bottom: 70px solid var(--dark-green);
}
.greenStar:after {
  border-bottom: 70px solid var(--dark-green);
}
.greenStar:before {
  border-bottom: 70px solid var(--dark-green);
}

.redStar {
  border-bottom: 70px solid var(--dark-red);
}
.redStar:after {
  border-bottom: 70px solid var(--dark-red);
}
.redStar:before {
  border-bottom: 70px solid var(--dark-red);
}

.yellowStar {
  border-bottom: 70px solid var(--dark-yellow);
}
.yellowStar:after {
  border-bottom: 70px solid var(--dark-yellow);
}
.yellowStar:before {
  border-bottom: 70px solid var(--dark-yellow);
}


/* star positions */
#star1 {
  top:-100px;
  left:-500px
}
#star2 {
  top:-200px;
  left:-400px
}
#star3 {
  top:200px;
  left:300px
}
#star4 {
  top:-200px;
  left:300px
}
#star5 {
  top:400px;
  left:100px
}
#star6 {
  top:-600px;
  left:-200px;
}
#star7 {
  top:400px;
  left:-500px;
}
#star8 {
  top:-400px;
  left:400px;
}
#star9 {
  top:-500px;
  left:100px;
}
#star10 {
  top:200px;
  left:-550px;
}
#star11 {
  top:300px;
  left:-300px;
}
#star12 {
  top:200px;
  left:-400px;
}
#star13 {
  top:-500px;
  left:-350px;
}
#star14 {
  top:-400px;
  left:-500px;
}
#star15 {
  top:-200px;
  left:-700px;
}
#star16 {
  top:-450px;
  left:200px;
}
#star17 {
  top:100px;
  left:600px;
}
#star18 {
  top:300px;
  left:700px;
}
#star19 {
  top:250px;
  left:500px;
}
#star20 {
  top:-100px;
  left:450px;
}
#star21 {
  top:-300px;
  left:650px;
}
#star22 {
  top:-550px;
  left:800px;
}
#star23 {
  top:-600px;
  left:550px;
}
#star24 {
  top:200px;
  left:-900px;
}
#star25 {
  top: -50px;
  left: 250px;
}
#star26 {
  top: 100px;
  left:-800px;
}
#star27 {
  top:-450px;
  left:-800px;
}
#star28 {
  top:300px;
  left:-600px;
}
#star29 {
  top:100px;
  left:-600px;
}
#star30 {
  top:-50px;
  left:700px;
}
#star31 {
  top:-400px;
  left:-650px;
}
#star32 {
  top:-300px;
  left:-900px;
}
#star33 {
  top:-550px;
  left:-1000px;
}
#star34 {
  top: -55px;
  left:300px;
}
#star35 {
  top:400px;
  left:-750px;
}
#star36 {
  top:-50px;
  left:-1000px;
}
#star37 {
  top:-200px;
  left:550px; 
}
#star38 {
  top: 350px;
  left:400px;
}
#star39 {
  top:400px;
  left:-100px;
}
#star40 {
  top:-600px;
  left:-650px;
}
#star41 {
  top:350px;
  left:-950px;
}
#star42 {
  top:-400px;
  left:550px;
}

/* header */

header {
  margin: 0 auto 2vh auto;
}

#sidebarContainer {
  margin:2vh 0 2vh 0;
}

#sidebarContainer nav ul {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

#sidebarContainer nav ul a {
  text-decoration:none;
  color:#0e0e0e;
  font-family:"Rye", serif;
  font-weight: 400px;
  letter-spacing: 0.05em;
  font-size:2em;
}

#sidebarContainer nav ul li:hover {
  cursor: pointer;
  color:var(--white);
}

/* main */
main  {

  /* display:flex;
  flex-direction:column;
  align-items:center; */

}

/* machine */
#machine {
  /* display:none; */
  margin:3em auto 2em auto;
  width:600px;
  height:825px;
  background:linear-gradient(0deg, var(--dark-red) 0%, var(--light-red) 100%);
  position:relative;
  outline:2px solid var(--black);
}

#chromeTop {
  width:610px;
  height:10px;
  position:relative;
  top:0;
  left:-5px;
  background:linear-gradient(0deg, var(--dark-chrome) 0%, var(--light-chrome) 100%);
  border-radius:5px;
  outline:2px solid var(--black);
  box-shadow:0px 2px 10px 0px;
}

#chromeBanner {
  width:550px;
  height:125px;
  position:relative;
  top:25px;
  left:25px;
  background:linear-gradient(0deg, var(--dark-chrome) 0%, var(--light-chrome) 100%);
  outline:2px solid var(--black);
  box-shadow:0px 3px 10px 0px;

}

#innerBanner {
  width:510px;
  height:85px;
  position:relative;
  top:20px;
  left:20px;
  background:linear-gradient(45deg,var(--dark-red),var(--dark-yellow),var(--dark-green),var(--dark-blue));
  outline:2px solid var(--black);

}
.flex-strip1 {
  width: 510px;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top:0px;
  left:0px;
}
.flex-strip2 {
  width: 510px;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top:0px;
  left:0px;
}
.circle-grey {
  background-color:var(--dark-yellow);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: lights 2s infinite;
}

.circle-gold {
  background-color: var(--light-yellow);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: lights 1s infinite;
}
@keyframes lights {
  0% {
    left: 15px; opacity: 100%;
  }
  25% {
    left: 30px; opacity: 0%;
  }
  50% {
    left: 60px; opacity: 100%;
  }
  75% {
    left: 120px; opacity: 0%;
  }
  100% {
    left: 150px; opacity: 100%;
  }
}

.marquee {
  text-align:center;
  vertical-align:middle;
  width:510px;
  height:45px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

#gameTitle {
  font-size: 1.6em;
  text-align:center;
  color:var(--white);
  font-family:"Rye", serif;
  font-weight: 400px;
  letter-spacing: 0.05em;
  text-shadow: 10px 5px 10px #132022;
}



/* game window */
#chromeWindow {
  width:550px;
  height:450px;
  position:relative;
  top:50px;
  left:25px;
  background:linear-gradient(0deg, var(--dark-chrome) 0%, var(--light-chrome) 100%);
  outline:2px solid var(--black);
}

#outerWindow {
  width:460px;
  height:360px;
  top:25px;
  left:25px;
  position:relative;
  background-color:var(--light-black);
  border-top: 20px solid var(--gray);
  border-left: 20px solid var(--light-gray);
  border-right: 20px solid var(--light-gray);
  border-bottom: 20px solid var(--gray);
}

#innerWindow {
  width: 360px;
  height: 200px;
  top: 80px;
  left:50px;
  position: relative;
  outline:2px solid var(--light-yellow);
  border-radius: 20px;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-evenly;
  align-items:center;
}

#box1 {
  width: 106px;
  height: 180px;
  background-color:var(--light-chrome);
  border-radius:10px;
}

#box2 {
  width: 106px;
  height: 180px;
  background-color:var(--light-chrome);
  border-radius:10px;
}

#box3 {
  width: 106px;
  height: 180px;
  background-color:var(--light-chrome);
  border-radius:10px;
}

/* machine base*/
#machineBase {
  width: 630px;
  height: 215px;
  background-color:var(--dark-red);
  z-index:10;
  position:relative;
  top:50px;
  left:-15px;
  outline:2px solid var(--black);
}

#machineBaseTop {
  width: 660px;
  height:100px;
  position:relative;
  top:-5px;
  left:-15px;
  z-index:2;
  background:linear-gradient(0deg, var(--dark-red) 0%, var(--light-red) 100%);
  outline:2px solid var(--black);
  border-radius:15px;
  box-shadow:0px 5px 10px 0px;
  /* Cannot get perspective to work */
  /* perspective: 2000px;
  perspective-origin:bottom; */
}

#buttonsContainer {
  position:relative;
  top:10px;
  left:30px;
  width:600px;
  height:75px;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-evenly;
  align-items:center;
  background:linear-gradient(0deg, var(--gray) 0%, var(--light-chrome) 100%);
  border-radius:15px;
  outline:2px solid var(--black);
} 


#mainBet {
  width:70px;
  height:60px;
  outline:2px solid var(--black);
  background-color:var(--dark-yellow);
  font-size:2em;
  border-top:5px solid var(--dark-yellow);
  border-left:2px solid var(--gray);
  border-bottom:5px solid var(--gray);
  border-right:2px solid var(--gray);
  font-family:"Rye", serif;
  font-weight: 400px;
  letter-spacing: 0.05em;
}
#mainBet:hover {
  color:var(--dark-red);
}

#machineBaseChrome {
  width:640px;
  height:10px;
  position:relative;
  top:106px;
  left:-5px;
  background:linear-gradient(0deg, var(--dark-chrome) 0%, var(--light-chrome) 100%);
  border-radius:5px;
  outline:2px solid var(--black);
  box-shadow:0px 10px 10px 0px;
}

.rubber {
  width:25px;
  height:20px;
  position:relative;
  border-radius:0 0 40% 40%;
  background-color:var(--black);
  z-index:-1;
}

.left {
 top: 100px;
 left:50px;
}

.right {
 top:80px;
 left:550px;
}

#handle {
  position:relative;
  width:150px;
  height:380px;

  z-index:-4;

  top:-570px;
  left:560px;
  /* background-color:var(--light-yellow); */
}

#handleNob {
  position:relative;
  width: 80px;
  height:80px;
  border-radius:50%;
  z-index:20;
  top:0;
  left:70px;
  z-index:-1;
  background:radial-gradient(circle, var(--dark-chrome),var(--gray));
  outline:2px solid var(--black);
}

#handleShaft {
  width: 30px;
  height: 230px;
  position:relative;
  top:-10px;
  left:95px;
  z-index:-2;
  background: linear-gradient(180deg, var(--gray) 0%,var(--dark-chrome) 20%, var(--gray) 100%);
  border-radius:0 0 20px 20px;
  outline:2px solid var(--black);
  
}

#handleBase {
  width:150px;
  height:100px;
  position:relative;
  top:-40px;
  z-index:-3;
  background : linear-gradient(180deg,var(--dark-chrome),var(--gray));
  border-radius:20px;
  outline:2px solid var(--black);

}